// Colors
$black = #1f1f1f
$white = #fff
$blue = #5ed7ff
$blue-bright = #50b7d9
$light-gray = #c7c7c7

// Fonts
$heading-font-stack = 'Press Start 2P', sans-serif
$base-font-stack = 'Roboto', sans-serif
$monospace-font-stack = 'Inconsolata', monospace

$heading-font-size = 2.0rem;
$base-font-size = 1.0em;
$base-font-color = #fff;
$base-font-color-inverse = #191919;
$subheading-font-size = 0.85rem;
$header-container-height = 10vh;

$standard-border-width = 3px
$standard-border-color = $light-gray
$container-border = $standard-border-width solid $standard-border-color

$heading-container-base-height = 60px

$base-padding = 10px;

$base-letter-spacing = 0.025em

// Mixins
anchor-tag-style()
  text-decoration none
  color $base-font-color
  &:visited
    color $base-font-color
  &:hover
    text-decoration underline
    
standard-margin()
  +above(0)
    margin $base-padding
  +above('m')
    margin $base-padding auto 0 auto

standard-section-heading-text()
  font-family $base-font-stack
  color $blue
  font-size $heading-font-size * 1.5
  letter-spacing $base-letter-spacing
