$heading-font-stack = 'Press Start 2P', sans-serif
$base-font-stack = 'Roboto', sans-serif
$monospace-font-stack = 'Inconsolata', monospace

$heading-font-size = 2.0rem;
$base-font-size = 1.0em;
$base-font-color = #fff;
$base-font-color-inverse = #000;
$subheading-font-size = 0.85rem;
$header-container-height = 10vh;

$base-padding = 10px;
