@import '~highlight.js/styles/monokai-sublime.css'
@import '_variables';

post-anchor()
  color $blue
  &:visited
    color $blue-bright

// Syntax boxes
pre
  background-color $base-font-color-inverse
  border 1px solid #888
  padding $base-padding
  code
    font-family $monospace-font-stack
    letter-spacing 0.025em

.post
  &__container
    border $container-border
    +above(0)
      width 90%
    +above('m')
      width 93%
    +above('l')
      width 95%
    +above('xl')
      width 97%
    padding $base-padding
    margin 10px auto 0 auto
    text-align left
    background-color $base-font-color-inverse
    overflow scroll
  &__title
    font-family $base-font-stack
    color $blue
    font-size $heading-font-size * 1.5
  &__author
    font-family $monospace-font-stack
    font-size 0.75em
    letter-spacing 0.025em
  &__body
    font-family $base-font-stack
    letter-spacing 0.025em
  &__title--link
    text-decoration none
    post-anchor()
    &:hover
      text-decoration underline
.posts
  &__list
    margin 0
    padding-left 0
    &__item
      margin-bottom $base-padding * 2
  .post
    &__title
      font-size $heading-font-size * 1.25

.section-heading
  +above(0)
    display none
  +above('m')
    display block
