@import '~highlight.js/styles/monokai-sublime.css'
@import '_variables';

post-anchor()
  color $blue
  &:visited
    color $blue-bright

// Syntax boxes
pre
  background-color $base-font-color-inverse
  border 1px solid #888
  padding $base-padding
  code
    font-family $monospace-font-stack
    letter-spacing 0.025em

.post
  &__container
    standard-margin()
    border $container-border
    padding $base-padding
    text-align left
    background-color $base-font-color-inverse
    overflow scroll
  &__title
    color $blue-bright
    font-size $heading-font-size * 1.25
  &__author
    &--link
        anchor-tag-style()
      &:before
        content 'by '
  &__body
    font-family $base-font-stack
    letter-spacing $base-letter-spacing
    line-height 1.25
    a
      post-anchor()
  &__published
    font-style italic
  &__title--link
    text-decoration none
    post-anchor()
    &:hover
      text-decoration underline
  &__meta
    font-family $base-font-stack
    font-size $base-font-size * 0.5
    color $white
    letter-spacing $base-letter-spacing
    span
      margin-right $base-padding

.posts
  &__list
    margin 0
    padding-left 0
    &__item
      margin-bottom $base-padding * 2
  .post
    &__title
      font-size $heading-font-size * 1.25
      margin $base-padding auto $base-padding auto
    &__meta
      font-size $base-font-size * 0.75
