@import '~highlight.js/styles/monokai-sublime.css'

$heading-font-stack = 'Press Start 2P', sans-serif
$base-font-stack = 'Roboto', sans-serif
$monospace-font-stack = 'Inconsolata', monospace

// Syntax boxes
pre
  background-color rgba(0,0,0,1.0)
  border 1px solid #888
  padding 2%
  code
    font-family $monospace-font-stack
    letter-spacing 0.025em

.post-container
  margin 10px auto 0 auto
  text-align left
  width 50vw
  background-color rgba(0,0,0,0.8)
  padding 10px 2%
  overflow scroll
.post
  &--title
    font-family $heading-font-stack
  &--author
    font-family $monospace-font-stack
    font-size 0.75em
    letter-spacing 0.025em

  &--body
    font-family $base-font-stack
    letter-spacing 0.025em

.blog
  margin 0 auto 0 auto
  text-align center
  width 50vw
  &.heading
    font-family $base-font-stack
    font-size $heading-font-size
  &.blog-links-container
    font-family $base-font-stack
    font-size $subheading-font-size
  ul
    list-style-type none
    text-align left
  a
    anchor-tag-style()
