@import '~normalize.css'

$base-font-stack = 'Press Start 2P', sans-serif;
$heading-font-size = 2.0rem;
$base-font-color = #fff;
$base-font-color-inverse = #000;
$subheading-font-size = 0.85rem;

body
  background-color $base-font-color-inverse
#root
  width 100%
  height 100%

// .main-container
//   position absolute
//   top 0
//   left 0

.svg-grid
  z-index -1
  position absolute
  top 0
  left 0
  opacity 0.3
  // filter blur(2px)

.home-content
  font-family $base-font-stack
  color $base-font-color
  width 100vw
  height 100vh
  overflow scroll
  .title-container
    font-family 'Press Start 2P', sans-serif
    font-size $heading-font-size
    font-style normal
    .heading
      margin 0 auto 0 auto
      text-transform lowercase
      text-align center
      width 70vw
    .subheading
      font-size $subheading-font-size
      margin 0 auto 0 auto
      text-transform lowercase
      text-align center
      width 70vw
.pusher
  height 30vh

.header-container
  width 100%
  height 30vh

.links-container
  padding-top 20px
  font-family $base-font-stack
  color $base-font-color
  .links
    padding 0
    margin 0
    font-size $subheading-font-size
    margin 0 auto 0 auto
    list-style-type none
    display flex
    width 70vw
    flex-direction row
    .link
      flex 4 4
      width 120px
      text-align right
      .nav-item
        &--anchor
          text-decoration none
          color $base-font-color
          &:visited
            color $base-font-color
          &:hover
            &::before
              content '> '
            font-weight bold
            text-decoration underline
        &--finger-pointer
          transform rotate(0.25turn)
          height 2.0rem
          width 2.0rem
