@import '~normalize.css'
@import '_variables';

body
  background-color $base-font-color-inverse
  
pre
  syntax-block-style()
  
code
  syntax-text-style()

#root,
#main-container
  width 100vw
  height 100vh - $header-container-height
.svg-grid
  height 100%
  width 100%
  z-index -1
  position absolute
  top 0
  left 0
  opacity 0.3
  filter blur(2px)

#content-container
  color $base-font-color
  overflow-y scroll
  -webkit-overflow-scrolling touch
  overflow-x hidden
  height 100vh - $header-container-height
  +above(0)
    padding 0
    margin 0 0 0 0
  +above('m')
    width 70%
    margin 0 auto 0 auto

.section-heading
  standard-section-heading-text()
  border $container-border
  padding $base-padding
  background-color $base-font-color-inverse
  padding-left $base-padding
  +above(0)
    margin $base-padding
  +above('m')
    margin $base-padding auto 0 auto
    
.breadcrumbs-container
  padding 0
  margin 0 auto 0 auto
  font-family $heading-font-stack
  text-transform lowercase
  +above(0)
    margin 0
    display none
  +above('m')
    margin 0 auto 0 auto
    display initial

.breadcrumbs
  margin 0
  padding $base-padding
  overflow-x hidden
  display flex
  +above(0)
    font-size $base-font-size * 1.25
  +above('m')
    font-size $base-font-size * 1.125
  +above('l')
    font-size $base-font-size
  +above('xl')
    font-size $base-font-size
  &__item
    list-style-type none
    display inline
    &:first-child
      padding-left 0
    &:nth-child(2)
      padding-left $base-padding
    padding 0
    margin 0
    &--link
      anchor-tag-style()
    &--link
    &--no-link
      &:last-child
        text-overflow clip ellipsis
        text-overflow '…/'
        display inline
      &:after
        content '/'

.page-content
  standard-margin()
  background-color $black
  border $container-border
  font-family $base-font-stack
  padding $base-padding

.home-page
  &__container
    width 100%
    height 100%
    overflow-y hidden
    .social-links
      &__container
        +above(0)
          margin 0
        +above('s')
          margin 0 100px 0 100px
        +above('xl')
          margin 0
      &__list
        list-style-type none
        display flex
        padding-left 0
        flex-wrap wrap
        &--item
          padding $base-padding
          font-family $heading-font-stack
          text-align center
          flex 4 4
          .icon-svg
            svg
              fill $base-font-color
              +above(0)
                height $base-font-size * 3
                width $base-font-size * 3
              +above('m')
                height $base-font-size * 4
                width $base-font-size * 4
              +landscape()
                height $base-font-size * 2
                width $base-font-size * 2
  &__subheading
    display none
  &__heading
    font-family $heading-font-stack
    +above(0)
      font-size $heading-font-size * 2
    +above('xl')
      font-size $heading-font-size * 1.75
    text-transform lowercase
    color $base-font-color
    text-align center
    margin 0 auto 0 auto
    +above(0)
      display flex
      flex-direction column
    +above('xl')
      display block
    &--fragment
      &.is-space
        &:after
          content ' '
      +above(0)
        margin 0
        padding 0
        flex 5
        &.is-space
          display none
        &.is-tld
          display inline
      +above('xl')
        &.is-space
          display inline
        &.is-tld
          display none
          flex initial
  &__subheading
    font-size $subheading-font-size
    margin 0 auto 0 auto
    text-transform lowercase
    text-align center
    width 70vw
  &__pusher
    +above(0)
      height 10vh
    +above('xl')
      height 30vh
#header-container
  position relative
  top 0
  min-height $heading-container-base-height
  width 100%
  height $header-container-height
  +above(0)
    background-color #000
  +above('m')
    background-color transparent

.links__container
  font-family $heading-font-stack
  margin 0 auto
  text-transform lowercase
  padding-top $base-padding
  text-align left
  color $base-font-color
  +above(0)
    width 100%
  +above('m')
    width 70%

  .links
    font-size $subheading-font-size
    list-style-type none
    display flex
    padding 0 // overrides webkit padding

    &__nav-item
      padding $base-padding
      text-align center
      &:first-child
        padding-left 0
        text-align left
        +below('m')
          display none
      &:nth-child(2)
        +below('m')
          padding-left 0
      flex 4 4
      &--anchor
        anchor-tag-style()
      &--anchor--text
        +above(0)
          display none
          &.no-icon
            display inline
        +above('m')
          display inline
      .icon-svg
        svg
          margin -5px 0
          fill $base-font-color
          +above(0)
            height $subheading-font-size * 2
          +above('m')
            display none

// BROWSER-SPECIFIC RULES

.safari
  // Filters are not properly handled by safari
  filter none


