doctype html
html
  head
    block title
      title omardelarosa.com
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='description' content='The personal website of Omar Delaorsa')
    meta(name='author' content='omardelarosa')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata:700|Press+Start+2P|Roboto:400,400i,700" rel="stylesheet")
  body(role='document')
    div(id='header-container')
    div(id='main-container')
      div(id='background-container')
      div(id='content-container')
        block content
    div(id='footer') !{ htmlWebpackPlugin.options.footer }
