extends _layout.pug
include _mixins.pug

block title
  title Blog

block content
  h1.section-heading
    +breadcrumbs({ text: 'Posts' })
  div.posts
    ul.posts__list
      each post in htmlWebpackPlugin.options.posts
        li.posts__list__item
          .post__container
            h1.post__title
              a.post__title--link(href='/' + post.meta.permalink, id=post.meta.slug)= post.meta.title
            .post__author by #{ post.meta.author }
            .post__published= post.meta.timestamp
            .post__body !{ post.html }


