extends _layout.pug
include _mixins.pug

block title
  title= 'posts | omardelarosa.com'

block og
  meta(name='og:url' content='https://omardelarosa.com/pages/posts/')
  meta(name='og:title' content='Posts | omardelarosa.com')
  meta(name='og:type' content='article:section')

block content
  div.breadcrumbs-container
    +breadcrumbs({ text: 'Posts' })
  h1.section-heading.k-inset-2 Posts
  div.posts
    ul.posts__list
      each post in htmlWebpackPlugin.options.posts
        li.posts__list__item
          .post__container
            h1.post__title
              a.post__title--link(href='/' + post.meta.permalink, id=post.meta.slug)= post.meta.title
            +postmeta(post)
            .post__body !{ post.html }


