extends _layout.pug

block title
  title #{ htmlWebpackPlugin.options.title }

block content
  div.home-page__container
    div.home-page__pusher
    h1.home-page__heading
      span.home-page__heading--fragment Omar
      span.home-page__heading--fragment.is-space &nbsp;
      span.home-page__heading--fragment Dela
      span.home-page__heading--fragment rosa
      span.home-page__heading--fragment.is-tld .com
    h2.home-page__subheading LINKS WILL GO HERE
